#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* Footer*/
/* Footer*/

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 15px;
}

#personal-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

#personal-links a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

#personal-links a:hover {
  color: #007bff;
}

#github:hover {
  color: #333;
}

#linkedin:hover {
  color: #0077b5;
}

#facebook:hover {
  color: #3b5998;
}

#email:hover {
  color: #e44d26;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  margin-top: auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
